

.DashBoardButton{
    border: none;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    margin: 5px;
    height: fit-content;
    width: 300px;
    background-color: #990526;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

}

.requestDetails{
    padding: 10px;
    text-align: justify;
}


.RequestorName{
    font-size: 17px;
}


.requestButton{
    border: none;
    background-color: #ffb900;
    color: #990526;
    font-weight: 400;
    padding: 0px 10px;
}

